* {
    box-sizing: border-box;
  }

  .column {
    float: left;
    width: 50%;
    padding: 40px;
  }

  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .fa-icon-contact {
    color: #6e5796;
      padding: 10px;
      height: 30px;
      width: 30px;
  }

  .container{
    padding-top: 40px;
    padding-left: 40px;
 }

 .btn-color{
    background-color: #6e5796;
    padding: 5px 10px 5px 10px;
    border-radius: 3px;
    color: white;
    border: none;
 }

 .btn-color:hover{
    background-color: green;
 }