body {
  font-family: Arial, sans-serif;
  position: relative;
  background-image: url('/images/img-bg3.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
  z-index: 0;
}

body::before {
  content: '';
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.4); /* Adjust opacity */
  z-index: -1;
}

.link{
  color: #6e5796;
}

.navbar-color{
  background-color: #022949;
  height: 15vh;
  margin-top: -20px;
}

.photo{
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 200px;
  width: 200px;
  z-index: 2;
}

.event-date{
    display: inline-block;
    position: relative;
    color: #fff;
    font-weight: 300;
    line-height: 1.1em;
    margin: 0 0 3px;
    background-color: #4c6a2a;
    padding: 5px 8px 5px 30px;
    margin-left: -30px;
    border-radius: 20px;
 }

 .spacer{
  padding-right: 30px;
 }

 .fa-icon-resume {
      padding: 3px;
      height: 15px;
      width: 15px;
      color:#6e5796;
  }