body {
  font-family: Arial, sans-serif;
  position: relative;
  background-image: url('/images/img-bg3.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
  z-index: 0;
}

body::before {
  content: '';
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.4); /* Adjust opacity */
  z-index: -1;
}

.link{
  color: #6e5796;
}

.navbar{
  background-color: #022949;
  height: 15vh;
  margin-top: -20px;
}

.photo{
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 200px;
  width: 200px;
  z-index: 2;
}


